@media (min-width: 769px) and (max-width: 1440px) {
    .promo-boxes-container {
        margin: auto;
        width: 75%;
    }

    .footer-nav ul {
        margin: 0;
        width: 50%;
    }

    .footer-page-links {
        float: left;
    }

    .slider .container {
        width: 100%;
        position: relative;
    }

    .main-footer {
        border-top: 1px solid black;
        padding: 0 20px 0 20px;
    }
}