@import 'base/typography';
@import 'base/reset';
@import 'base/theme';


// html {
//     height: 100%;
// }

body {
    font-family: $reading-font;
}

.main-container {
    background-color: $base-background-color;
}


.header-container {
    background: $primary-background-color;
    text-align: center;
    overflow: auto;
    padding: 41px 41px 25px;


    .header-title {
        color: $primary-foreground-color;
        float: left;
        font-size: 42px;
        line-height: 24px;
        font-family: $title-font;
    }

    .burger-container {
        float: right;
        cursor: pointer;
        // margin: 19px 19px 0 0;

        .burger-line {
            width: 45px;
            height: 4px;
            border-radius: 2px;
            background-color: $primary-foreground-color;
            margin-bottom: 6px;
        }
    }
}

.nav-container {
    display: none;
    padding-top: 24px;
    text-align: center;

    h3 {
        margin-bottom: 10px;
    }

    a {
        color: black;
        font-size: 24px;
        padding: 12px;
        text-decoration: none;
        line-height: 2.5;
        display: block;
    }

    a:hover {
        background-color: $secondary-background-colour;
    }
}

.nav-location {
    background-color: #669999;
    height: 30px;
    border-bottom: 1px solid $primary-foreground-color;
    font-family: $reading-font;
    padding: 13px 37px 0px 39px;

    header {
        font-size: 18px;
        text-shadow: 2px 2px black;
        color: #F3C363;
    }

}

.home {
    height: 100vh;
    text-align: center;
    padding-top: 30px;

    h1 {
        margin-bottom: $default-margin;
    }

    header {
        font-size: 56px;
        color: $primary-text-colour;
    }

    .home-container {

        margin-bottom: $default-margin;

        ul li {
            line-height: 40px;
            font-size: 40px;
            margin-bottom: 30px;
            color: $base-foreground-color;
        }

        .coding {
            font-size: 49px;
            font-family: 'Courier New';
        }

        .commerce {
            font-family: 'Playfair Display SC', serif;
        }

        .creativity {
            font-family: 'creative', cursive;
        }

        .communcation {
            font-family: 'communcation'
        }

        .curiosity {
            font-family: 'curosity'
        }
    }
}

.sub-charactistics {
    color: #F3C363;
    font-family: $reading-font;
    font-size: 13px;
    line-height: 16px;

}