html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

















body {
    background-color: white;
}

.clearfix {
    overflow: auto;
}

.logo {
    float: left;
}

.link {
    padding: 20px 20px 0 0;
    display: block;
}

.link-button {
    border-top: 5px solid black;
    margin-bottom: 3px;
    width: 45px;
    float: right;
    clear: right;
}

.nav {
    clear: left;
    padding-left: 45px;
}

ul {
    list-style: none;
    width: 100%;
    margin: auto;

}

.page-nav {
    margin: 10px 0 27px 15px;
    display: none;
}

.page-nav ul li {
    display: inline-block;
}

.page-nav ul li a {
    background: url(../../images/nav-divider.png) no-repeat 100% 4px;
    padding: 0 10px 0 10px
}

.footer-nav ul li {
    display: block;
}

.promo-heading {
    font-family: 'Rock Salt';
    margin-bottom: 12px;
    text-align: center;
}

h1 {
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
    margin: 32px 0 0 10px;
    float: left;
}

a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

footer .footer-nav {




}

footer .footer-nav ul {


}

footer ul.social-terms {
;

}

footer .footer-nav ul li {
    border-top: 1px solid #BBBBBB;
    padding: 12px 0 12px 0;
    text-align: center;
    cursor: pointer;
}

footer ul.social-terms li{
    text-align: center;
}



.promo-box img {
    width: 100%;
}

.promo-box {
    margin-bottom: 36px;
}

// Mobile
@media screen and (max-width: 480px) {
    .logo {
        width: 70px;
        margin: 10px;
    }

}

// Mobile
@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        width: 170px;
    }

    .promo-box {
        display: inline-block;
        width: 49%;
    }

    .promo-box:last-child {
        display: block;
        margin: auto;
    }

    ul li {
        display: inline-block;
    }
}








