@import 'reset';
@import 'min-481-max-768';
@import 'min-769-max-1440';


$main-font: 'Open Sans', sans-serif;
$title-text: 'Rock Salt', cursive;

body {
    background-color: white;
}

a {
    color: black;
    font-family: $main-font;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.logo {
    width: 70px;
    margin: 10px;
    float: left;

    @media (min-width: 481px) and (max-width: 768px) {
        width: 115px;
        padding: 12px;
    }

    @media (min-width: 769px) and (max-width: 1440px) {
        width: 126px;
    }
}

.burger-container {
    padding: 20px 20px 0 0;
    display: block;

    @media (min-width: 769px) and (max-width: 1440px) {
        position: relative;
        bottom: 54px;
        right: 13px;
    }
}

.burger-slice {
    border-top: 5px solid black;
    margin-bottom: 3px;
    width: 45px;
    float: right;
    clear: right;
}

.nav {
    clear: left;
    padding-left: 45px;
}

.page-nav {
    margin: 10px 0 27px 15px;
    display: none;

    @media (min-width: 769px) and (max-width: 1440px) {
        font-size: 30px;
    }
}

.page-nav li {
    display: inline-block;
}

.seperator {
    background: url(../../images/nav-divider.png) no-repeat;
    background-size: 1px 100%;
    padding: 0 10px 0 10px;
}

.main-title {
    font-size: 20px;
    font-family: $title-text;
    margin: 32px 0 0 10px;
    float: left;

    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 38px;
        margin-top: 49px;
    }

    @media (min-width: 769px) and (max-width: 1440px) {
        font-size: 48px;
        margin: auto;
        width: 80%;
        float: none;
        margin-top: 52px;
        text-align: center;
    }
}

.text-overlay {
    position: relative;
    top: 25px;
    font-family: $main-font;
    color: #FFFFFF;
    z-index: 100;
    font-size: 8px;

    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 16px;
    }

    @media (min-width: 769px) and (max-width: 1440px) {
        font-size: 24px;
    }
}

.slidesjs-navigation {
    display: none;

    @media (min-width: 769px) and (max-width: 1440px) {
        display: block;
    }
}

.slidesjs-navigation img {
    width: 65px;
}

@mixin slide-buttons {
    position: absolute;
    z-index: 10;
    opacity: 0.4;
    top: 214px;
}

.slidesjs-previous {
    @include slide-buttons();
    right: 18px;
}

.slidesjs-next {
    @include slide-buttons();
    left: 18px;
}

.promo-heading {
    font-family: $title-text;
    margin-bottom: 12px;
    text-align: center;
}

.promo-box img {
    width: 100%;
}

.promo-box {
    margin-bottom: 36px;

    @media (min-width: 481px) and (max-width: 768px) {
        display: inline-block;
        width: 49%;
    }

    @media (min-width: 769px) and (max-width: 1440px) {
        width: 30%;
        display: inline-block;
    }
}

.footer-nav li {
    display: block;
}

.footer-nav li {
    border-top: 1px solid #BBBBBB;
    padding: 25px 0 25px 0;
    text-align: center;
    cursor: pointer;

    @media (min-width: 769px) and (max-width: 1440px) {
        border-top: 0px;
        padding: 25px 0 25px 0;
        text-align: center;
        display: inline-block;
    }
}

.social-terms {

    text-align: center;

    @media (min-width: 769px) and (max-width: 1440px) {
        text-align: right;
        float: right;
    }
}







