$S: 321px;
$M: 769px;
$L: 1441px;

@mixin MQ($canvas) {
  @if $canvas == M {
    @media only screen and (min-width: $S) and (max-width: $M - 1) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $M) and (max-width: $L - 1) { @content; }
  }
}