$primary-background-color: #F3C363;
$primary-foreground-color: #333333;

$title-font: 'innerhero', 'Helvetica Neue', Helvetica, sans-serif;
$reading-font: 'Helvetica Neue', Helvetica, sans-serif;

$secondary-background-color: #669999;
$secondary-foreground-color: #333333;

$base-background-color: #252F38;
$base-foreground-color: #ffffff;



$primary-text-colour: black;
$secondary-text-colour: black;

$primary-background-colour: white;
$secondary-background-colour: white;


$default-margin: 25px;
