$base-background-color: #8ae069;

$primary-text-colour: black;
$secondary-text-colour: black;

$primary-background-colour: green;
$secondary-background-colour: white;


$default-margin: 25px;

.base-colour {
    background-color: $base-background-color;
}

.skew-right {
    transform: skewY(-10deg);
}

.skew-left {
    transform: skewY(10deg);
}