@font-face {
    font-family: "proxima";
    src: url(http://cdn.supadupa.me/shop/17527/assets/fonts/proxima-nova/proximanova-regular-webfont.woff);
}

@font-face {
    font-family: "ticky";
    src: url(https://app.ttcdn.co/fonts/TictailSans-Regular.woff);
}


@font-face {
    font-family: "ticky-bold";
    src: url(https://app.ttcdn.co/fonts/TictailSans-Bold.woff);
}




