@font-face {
    font-family: "innerhero";
    src: url(../fonts/innerhero.woff);
}

@font-face {
    font-family: "commerce";
    src: url(../fonts/titlewv.ttf);
}


@font-face {
    font-family: "communcation";
    src: url(../fonts/proximanova.woff);
}


@font-face {
    font-family: "creative";
    src: url(../fonts/creativity/BPdots.otf);
}





