/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 481px) and (max-width: 768px) {
  /* line 3, ../sass/_min-481-max-768.scss */
  .promo-boxes {
    margin-bottom: 35px;
  }

  /* line 7, ../sass/_min-481-max-768.scss */
  .promo-box:last-child {
    display: block;
    margin: auto;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 2, ../sass/_min-769-max-1440.scss */
  .promo-boxes-container {
    margin: auto;
    width: 75%;
  }

  /* line 7, ../sass/_min-769-max-1440.scss */
  .footer-nav ul {
    margin: 0;
    width: 50%;
  }

  /* line 12, ../sass/_min-769-max-1440.scss */
  .footer-page-links {
    float: left;
  }

  /* line 16, ../sass/_min-769-max-1440.scss */
  .slider .container {
    width: 100%;
    position: relative;
  }

  /* line 21, ../sass/_min-769-max-1440.scss */
  .main-footer {
    border-top: 1px solid black;
    padding: 0 20px 0 20px;
  }
}
/* line 9, ../sass/screen.scss */
body {
  background-color: white;
}

/* line 13, ../sass/screen.scss */
a {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

/* line 19, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 25, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 29, ../sass/screen.scss */
.logo {
  width: 70px;
  margin: 10px;
  float: left;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 29, ../sass/screen.scss */
  .logo {
    width: 115px;
    padding: 12px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 29, ../sass/screen.scss */
  .logo {
    width: 126px;
  }
}

/* line 44, ../sass/screen.scss */
.burger-container {
  padding: 20px 20px 0 0;
  display: block;
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 44, ../sass/screen.scss */
  .burger-container {
    position: relative;
    bottom: 54px;
    right: 13px;
  }
}

/* line 55, ../sass/screen.scss */
.burger-slice {
  border-top: 5px solid black;
  margin-bottom: 3px;
  width: 45px;
  float: right;
  clear: right;
}

/* line 63, ../sass/screen.scss */
.nav {
  clear: left;
  padding-left: 45px;
}

/* line 68, ../sass/screen.scss */
.page-nav {
  margin: 10px 0 27px 15px;
  display: none;
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 68, ../sass/screen.scss */
  .page-nav {
    font-size: 30px;
  }
}

/* line 77, ../sass/screen.scss */
.page-nav li {
  display: inline-block;
}

/* line 81, ../sass/screen.scss */
.seperator {
  background: url(../../images/nav-divider.png) no-repeat;
  background-size: 1px 100%;
  padding: 0 10px 0 10px;
}

/* line 87, ../sass/screen.scss */
.main-title {
  font-size: 20px;
  font-family: "Rock Salt", cursive;
  margin: 32px 0 0 10px;
  float: left;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 87, ../sass/screen.scss */
  .main-title {
    font-size: 38px;
    margin-top: 49px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 87, ../sass/screen.scss */
  .main-title {
    font-size: 48px;
    margin: auto;
    width: 80%;
    float: none;
    margin-top: 52px;
    text-align: center;
  }
}

/* line 108, ../sass/screen.scss */
.text-overlay {
  position: relative;
  top: 25px;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  z-index: 100;
  font-size: 8px;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 108, ../sass/screen.scss */
  .text-overlay {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 108, ../sass/screen.scss */
  .text-overlay {
    font-size: 24px;
  }
}

/* line 125, ../sass/screen.scss */
.slidesjs-navigation {
  display: none;
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 125, ../sass/screen.scss */
  .slidesjs-navigation {
    display: block;
  }
}

/* line 133, ../sass/screen.scss */
.slidesjs-navigation img {
  width: 65px;
}

/* line 144, ../sass/screen.scss */
.slidesjs-previous {
  position: absolute;
  z-index: 10;
  opacity: 0.4;
  top: 214px;
  right: 18px;
}

/* line 149, ../sass/screen.scss */
.slidesjs-next {
  position: absolute;
  z-index: 10;
  opacity: 0.4;
  top: 214px;
  left: 18px;
}

/* line 154, ../sass/screen.scss */
.promo-heading {
  font-family: "Rock Salt", cursive;
  margin-bottom: 12px;
  text-align: center;
}

/* line 160, ../sass/screen.scss */
.promo-box img {
  width: 100%;
}

/* line 164, ../sass/screen.scss */
.promo-box {
  margin-bottom: 36px;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 164, ../sass/screen.scss */
  .promo-box {
    display: inline-block;
    width: 49%;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 164, ../sass/screen.scss */
  .promo-box {
    width: 30%;
    display: inline-block;
  }
}

/* line 178, ../sass/screen.scss */
.footer-nav li {
  display: block;
}

/* line 182, ../sass/screen.scss */
.footer-nav li {
  border-top: 1px solid #BBBBBB;
  padding: 25px 0 25px 0;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 182, ../sass/screen.scss */
  .footer-nav li {
    border-top: 0px;
    padding: 25px 0 25px 0;
    text-align: center;
    display: inline-block;
  }
}

/* line 196, ../sass/screen.scss */
.social-terms {
  text-align: center;
}
@media (min-width: 769px) and (max-width: 1440px) {
  /* line 196, ../sass/screen.scss */
  .social-terms {
    text-align: right;
    float: right;
  }
}
