@font-face {
  font-family: "innerhero";
  src: url(../fonts/innerhero.woff);
}
@font-face {
  font-family: "commerce";
  src: url(../fonts/titlewv.ttf);
}
@font-face {
  font-family: "communcation";
  src: url(../fonts/communication/Code_Pro_Light_Demo-webfont.woff);
}
@font-face {
  font-family: "creative";
  src: url(../fonts/creativity/BPdots.otf);
}
@font-face {
  font-family: "curosity";
  src: url(../fonts/Note_this.ttf);
}
/* line 1, ../sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../sass/main.scss */
.main-container {
  display: none;
}
/* line 9, ../sass/main.scss */
.main-container.about-me {
  display: block;
}

/* line 14, ../sass/main.scss */
main {
  background-color: #252F38;
  height: 100vh;
  text-align: center;
}

/* line 20, ../sass/main.scss */
.header-container {
  background: #F3C363;
  overflow: auto;
  padding: 41px 22px 25px;
  position: relative;
  z-index: 1;
}
/* line 29, ../sass/main.scss */
.header-container .header-title {
  color: #333333;
  float: left;
  font-size: 42px;
  line-height: 24px;
  font-family: "innerhero", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* line 38, ../sass/main.scss */
.header-container .burger-container {
  cursor: pointer;
  position: absolute;
  right: 31px;
  height: 34px;
  width: 38px;
}
/* line 45, ../sass/main.scss */
.header-container .burger-container .burger-line {
  width: 38px;
  height: 3px;
  border-radius: 2px;
  background-color: #333333;
  display: block;
  position: absolute;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/* line 59, ../sass/main.scss */
.header-container .burger-container .burger-line {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 62, ../sass/main.scss */
.header-container .burger-container .burger-line:nth-child(1) {
  top: 0px;
}
/* line 65, ../sass/main.scss */
.header-container .burger-container .burger-line:nth-child(2) {
  top: 10px;
}
/* line 69, ../sass/main.scss */
.header-container .burger-container .burger-line:nth-child(3) {
  top: 20px;
}
/* line 75, ../sass/main.scss */
.header-container .burger-container .burger-line.open:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  right: 0px;
}
/* line 81, ../sass/main.scss */
.header-container .burger-container .burger-line.open:nth-child(2) {
  width: 0%;
  opacity: 0;
}
/* line 86, ../sass/main.scss */
.header-container .burger-container .burger-line.open:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  right: 0px;
}

/* line 95, ../sass/main.scss */
.nav-container {
  position: absolute;
  top: -100vh;
  padding-top: 24px;
  text-align: center;
  height: 100vh;
  width: 100%;
  font-family: "innerhero", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #669999;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -moz-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -o-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
/* line 108, ../sass/main.scss */
.nav-container li {
  border-bottom: 1px solid #617d7d;
}
/* line 112, ../sass/main.scss */
.nav-container a {
  color: black;
  font-size: 36px;
  padding: 12px;
  text-decoration: none;
  line-height: 1.65;
  display: block;
}
/* line 121, ../sass/main.scss */
.nav-container a:hover {
  background-color: #F3C363;
}
/* line 125, ../sass/main.scss */
.nav-container.animate-nav {
  top: 96px;
}

/* line 131, ../sass/main.scss */
.nav-location {
  background-color: #669999;
  height: 30px;
  border-bottom: 1px solid #333333;
  font-family: "innerhero", "Helvetica Neue", Helvetica, sans-serif;
  padding: 13px 37px 0px 39px;
}
/* line 138, ../sass/main.scss */
.nav-location header {
  -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -moz-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -o-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  letter-spacing: 1.5px;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  color: white;
  position: relative;
  top: 0;
}
/* line 147, ../sass/main.scss */
.nav-location header.animate-location-title {
  top: -40px;
}

/* line 154, ../sass/main.scss */
.main-container {
  padding: 30px 20px;
  text-align: center;
}
/* line 158, ../sass/main.scss */
.main-container header {
  color: #F3C363;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 31px;
}

/* line 168, ../sass/main.scss */
.about-me {
  margin-bottom: 25px;
}
/* line 171, ../sass/main.scss */
.about-me ul li {
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 30px;
  color: #ffffff;
}
/* line 177, ../sass/main.scss */
.about-me ul li .sub-charactistics {
  color: #F3C363;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
}
/* line 186, ../sass/main.scss */
.about-me .coding {
  font-size: 49px;
  font-family: 'Courier New';
}
/* line 191, ../sass/main.scss */
.about-me .commerce {
  font-family: 'Playfair Display SC', serif;
}
/* line 195, ../sass/main.scss */
.about-me .creativity {
  font-family: 'creative', cursive;
}
/* line 199, ../sass/main.scss */
.about-me .communcation {
  font-size: 32px;
  font-family: "communcation";
}
/* line 204, ../sass/main.scss */
.about-me .curiosity {
  font-size: 46px;
  font-family: "curosity";
}

/* line 210, ../sass/main.scss */
.main-container-text, .blog p, .skills li, .cv-contact a, .portfolio a {
  font-size: 33px;
  color: #F3C363;
  font-family: "innerhero", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 43px;
}

/* line 219, ../sass/main.scss */
.blog p {
  margin-top: 105px;
}
/* line 223, ../sass/main.scss */
.blog p a {
  color: #669999;
}

/* line 236, ../sass/main.scss */
.cv-contact a, .portfolio a {
  line-height: 65px;
  text-decoration: none;
}
