$S: 321px;
$M: 768px;
$L: 1024px;

@mixin MQ($canvas) {
  @if $canvas == M {
    @media only screen and (min-width: $M) and (max-width: $L) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $M) and (max-width: $L - 1) { @content; }
  }
}